<!DOCTYPE html>
<html>
  <head>
    <title>Keyboard Tester</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  </head>
  <body>
    <div id="app" v-cloak>
      <input type="text" v-model="inputString" v-on:keyup="[updateButtonState, increaseSize]" />
      <button @click="resetAllButtons">Reset</button>
      <li v-for="key in availableKeys" :style="{ fontSize: key.size + 'px' }">
        {{ key.label }}
      </li>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
  </body>
</html>
